<section class="section">
<div class="container">
  <div class="columns is-multiline is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="https://media.giphy.com/media/xULW8DcQMhlZFs6baU/giphy.gif" style="width:320px;height: auto;"  alt="Placeholder image">

          </figure>
        </div>
        <div class="card-content">
          <p class="title">
            Code Curious | Code & Cake </p>
          <p class="subtitle">
            Docker is awesome! 🐳
          </p>
        </div>
      </div>
    </div>
    
  <div>
    <div class="column">
          <div class="card">
      <div class="card-content">
        <table class="table is-striped">
        <thead>
          <tr>
            <td>Property</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>User Agent</td>
            <td><%= @useragent %></td>
          </tr>
          <tr>
            <td>Host</td>
            <td><%= @host %></td>
          </tr>
        </tbody>
      </table>
      </div>
     
    </div>
     
  </div>
  <section>